<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.batteryvoltagewarning"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver android:name=".BatteryVoltageWarningReceiver" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <!-- <action android:name="android.intent.action.ACTION_BATTERY_VOLTAGE_WARNING" /> -->
        <!--
        android:priority="1000"
        <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
        -->
        <service android:name=".TestService" >
        </service>
    </application>

</manifest>